--index-url https://mirrors.aliyun.com/pypi/simple

asgiref==3.8.1 ; python_version >= "3.12" and python_version < "4.0"
certifi==2025.6.15 ; python_version >= "3.12" and python_version < "4.0"
charset-normalizer==3.4.2 ; python_version >= "3.12" and python_version < "4.0"
cos-python-sdk-v5==1.9.36 ; python_version >= "3.12" and python_version < "4.0"
crcmod==1.7 ; python_version >= "3.12" and python_version < "4.0"
django-cors-headers==4.7.0 ; python_version >= "3.12" and python_version < "4.0"
django==5.2.3 ; python_version >= "3.12" and python_version < "4.0"
djangorestframework==3.16.0 ; python_version >= "3.12" and python_version < "4.0"
gunicorn==23.0.0 ; python_version >= "3.12" and python_version < "4.0"
idna==3.10 ; python_version >= "3.12" and python_version < "4.0"
mysqlclient==2.2.7 ; python_version >= "3.12" and python_version < "4.0"
packaging==25.0 ; python_version >= "3.12" and python_version < "4.0"
pycryptodome==3.23.0 ; python_version >= "3.12" and python_version < "4.0"
requests==2.32.4 ; python_version >= "3.12" and python_version < "4.0"
six==1.17.0 ; python_version >= "3.12" and python_version < "4.0"
sqlparse==0.5.3 ; python_version >= "3.12" and python_version < "4.0"
tzdata==2025.2 ; python_version >= "3.12" and python_version < "4.0" and sys_platform == "win32"
urllib3==2.5.0 ; python_version >= "3.12" and python_version < "4.0"
xmltodict==0.14.2 ; python_version >= "3.12" and python_version < "4.0"
